# Какой профиль активен
SPRING_PROFILES_ACTIVE=dev

# Настройки БД
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=mypassword

# JWT (минимум 32 символа)
APP_JWT_SECRET=FQD2Eh6b0s86Z0RVVVkMIetr3cGz45eb

APP_JWT_EXPIRATION=31d